img {
	width: 100%;
}


 img.tap {
    content: url('https://spoknapp.github.io/images/home_02.png');
  }

  img.tap2 {
  	content: url('https://spoknapp.github.io/images/instructions_02.png');
  }

img.tap3 {
	content: url('https://spoknapp.github.io/images/ready.png');
}
