img {
	width: 100%;
}


 img.tap {
    content: url('https://spoknapp.github.io/images/home_04.png');
  }

  img.tap2 {
  	content: url('https://spoknapp.github.io/images/instructions_05.png');
  }

img.tap3 {
	content: url('https://spoknapp.github.io/images/lets_begin_in.png');
}
